{#  ## args: (string [array]) #}
{% if Container.args is defined %}
args:
{%   for arg in Container.args | default([], true) %}
  - "{{ arg | default('') }}"
{%   endfor %}
{% endif -%}

{#  ## command: (string [array]) #}
{% if Container.command is defined %}
command:
{%   for cmd in Container.command | default([], true) %}
  - "{{ cmd | default('') }}"
{%   endfor %}
{% endif -%}

{#  ## env: (EnvVar [array]) #}
{% if Container.env is defined %}
env:
{%   for EnvVar in Container.env | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_EnvVar.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## envFrom: (EnvFromSource [array]) #}
{% if Container.envFrom is defined %}
envFrom:
{%   for EnvFromSource in Container.envFrom | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_EnvFromSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## image (string) #}
{% if Container.image is defined %}
image: "{{ Container.image | default('') }}"
{% endif -%}

{#  ## imagePullPolicy (string) #}
{% if Container.imagePullPolicy is defined %}
imagePullPolicy: "{{ Container.imagePullPolicy | default('') }}"
{% endif -%}

{#  ## lifecycle: (Lifecycle) #}
{% if Container.lifecycle is defined %}
lifecycle:
{%   filter indent(width=2, first=true) %}
{%     set Lifecycle = Container.lifecycle %}
{%     include '_Lifecycle.j2' %}
{%   endfilter %}
{% endif -%}

{#  ## livenessProbe: (Probe) #}
{% if Container.livenessProbe is defined %}
livenessProbe:
{%   filter indent(width=2, first=true) %}
{%     set Probe = Container.livenessProbe %}
{%     include '_Probe.j2' %}
{%   endfilter %}
{% endif -%}

{#  ## name (string) #}
{% if Container.name is defined %}
name: "{{ Container.name | default('') }}"
{% endif -%}

{#  ## ports: (ContainerPort [array]) #}
{% if Container.ports is defined %}
ports:
{%   for ContainerPort in Container.ports | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_ContainerPort.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## readinessProbe: (Probe) #}
{% if Container.readinessProbe is defined %}
readinessProbe:
{%   filter indent(width=2, first=true) %}
{%     set Probe = Container.readinessProbe %}
{%     include '_Probe.j2' %}
{%   endfilter %}
{% endif -%}

{#  ## resources: (ResourceRequirements) #}
{% if Container.resources is defined %}
resources:
{%   filter indent(width=2, first=true) %}
{%     set ResourceRequirements = Container.resources %}
{%     include '_ResourceRequirements.j2' %}
{%   endfilter %}
{% endif -%}

{#  ## securityContext: (SecurityContext) #}
{% if Container.securityContext is defined %}
securityContext:
{%   filter indent(width=2, first=true) %}
{%     set SecurityContext = Container.securityContext %}
{%     include '_SecurityContext.j2' %}
{%   endfilter %}
{% endif -%}

{#  ## startupProbe: (Probe) #}
{% if Container.startupProbe is defined %}
startupProbe:
{%   filter indent(width=2, first=true) %}
{%     set Probe = Container.startupProbe %}
{%     include '_Probe.j2' %}
{%   endfilter %}
{% endif -%}

{#  ## stdin (boolean) #}
{% if Container.stdin is defined %}
stdin: {{ Container.stdin | default('') }}
{% endif -%}

{#  ## stdinOnce (boolean) #}
{% if Container.stdinOnce is defined %}
stdinOnce: {{ Container.stdinOnce | default('') }}
{% endif -%}

{#  ## terminationMessagePath (string) #}
{% if Container.terminationMessagePath is defined %}
terminationMessagePath: "{{ Container.terminationMessagePath | default('') }}"
{% endif -%}

{#  ## terminationMessagePolicy (string) #}
{% if Container.terminationMessagePolicy is defined %}
terminationMessagePolicy: "{{ Container.terminationMessagePolicy | default('') }}"
{% endif -%}

{#  ## tty (boolean) #}
{% if Container.tty is defined %}
tty: {{ Container.tty | default('') }}
{% endif -%}

{#  ## volumeDevices: (VolumeDevice [array]) #}
{% if Container.volumeDevices is defined %}
volumeDevices:
{%   for VolumeDevice in Container.volumeDevices | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_VolumeDevice.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## volumeMounts: (VolumeMount [array]) #}
{% if Container.volumeMounts is defined %}
volumeMounts:
{%   for VolumeMount in Container.volumeMounts | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_VolumeMount.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## workingDir (string) #}
{% if Container.workingDir is defined %}
workingDir: "{{ Container.workingDir | default('') }}"
{% endif %}