{#  ## driver (string) #}
{% if CSIVolumeSource.driver is defined %}
driver: "{{ CSIVolumeSource.driver | default('') }}"
{% endif -%}

{#  ## fsType (string) #}
{% if CSIVolumeSource.fsType is defined %}
fsType: "{{ CSIVolumeSource.fsType | default('') }}"
{% endif -%}

{#  ## nodePublishSecretRef: (LocalObjectReference) #}
{% if CSIVolumeSource.csi is defined %}
csi:
{%   for LocalObjectReference in CSIVolumeSource.csi | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_LocalObjectReference.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## workingDir (string) #}
{% if CSIVolumeSource.workingDir is defined %}
workingDir: "{{ CSIVolumeSource.workingDir | default('') }}"
{% endif -%}

{#  ## workingDir (string) #}
{% if CSIVolumeSource.workingDir is defined %}
workingDir: "{{ CSIVolumeSource.workingDir | default('') }}"
{% endif -%}