{#   ## key: (string) #}
{% if LabelSelectorRequirement.key is defined %}
key: "{{ LabelSelectorRequirement.key | default('') }}"
{% endif -%}

{#   ## operator: (string) #}
{% if LabelSelectorRequirement.operator is defined %}
operator: "{{ LabelSelectorRequirement.operator | default('') }}"
{% endif -%}

{#   ## operator: (string [array]) #}
{% if 'values' in LabelSelectorRequirement %}
values:
{%   for value in LabelSelectorRequirement["values"] | default([]) %}
{%     if value is defined %}
  - "{{ value | default('') }}"
{%     endif %}
{%   endfor %}
{% endif %}