{#    ## nodeSelectorTerms : (NodeSelectorTerm array ) #}
{% if NodeSelector.nodeSelectorTerms is defined %}
nodeSelectorTerms:
{%   for NodeSelectorTerm in NodeSelector.nodeSelectorTerms | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%       include '_NodeSelectorTerm.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif %}