{#  ## activeDeadlineSeconds (integer) #}
{% if PodSpec.activeDeadlineSeconds is defined %}
activeDeadlineSeconds: "{{ PodSpec.activeDeadlineSeconds | default('') }}"
{% endif -%}

{#   ## affinity: (Affinity) #}
{% if PodSpec.affinity is defined %}
affinity:
{%   filter indent(width=2, first=true) %}
{%     set Affinity = PodSpec.affinity %}
{%     include '_Affinity.j2' %}
{%   endfilter %}
{% endif -%}

{#   ## automountServiceAccountToken: (boolean) #}
{% if PodSpec.automountServiceAccountToken is defined %}
automountServiceAccountToken: "{{ PodSpec.automountServiceAccountToken | default('') }}"
{% endif -%}

{#   ## containers: (Container [array]) #}
{% if PodSpec.containers is defined %}
containers:
{%   for container in PodSpec.containers | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_Container.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#   ## dnsConfig: (PodDNSConfig) #}
{% if PodSpec.dnsConfig is defined %}
dnsConfig:
{%   filter indent(width=2, first=true) %}
{%     set PodDNSConfig = PodSpec.dnsConfig %}
{%     include '_Container.j2' %}
{%   endfilter %}
{% endif -%}

{#  ## dnsPolicy (string) #}
{% if PodSpec.dnsPolicy is defined %}
dnsPolicy: "{{ PodSpec.dnsPolicy | default('') }}"
{% endif -%}

{#  ## enableServiceLinks (boolean) #}
{% if PodSpec.enableServiceLinks is defined %}
enableServiceLinks: "{{ PodSpec.enableServiceLinks | default('') }}"
{% endif -%}

{#   ## ephemeralContainers: (EphemeralContainer [array]) #}
{% if PodSpec.ephemeralContainers is defined %}
ephemeralContainers:
{%   for EphemeralContainer in PodSpec.ephemeralContainers | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_EphemeralContainer.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#   ## hostAliases: (HostAlias [array]) #}
{% if PodSpec.hostAliases is defined %}
hostAliases:
{%   for HostAlias in PodSpec.hostAliases | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_HostAlias.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## hostIPC (boolean) #}
{% if PodSpec.hostIPC is defined %}
hostIPC: "{{ PodSpec.hostIPC | default('') }}"
{% endif -%}

{#  ## hostNetwork (boolean) #}
{% if PodSpec.hostNetwork is defined %}
hostNetwork: "{{ PodSpec.hostNetwork | default('') }}"
{% endif -%}

{#  ## hostPID (boolean) #}
{% if PodSpec.hostPID is defined %}
hostPID: "{{ PodSpec.hostPID | default('') }}"
{% endif -%}

{#  ## hostUsers (boolean) #}
{% if PodSpec.hostUsers is defined %}
hostUsers: "{{ PodSpec.hostUsers | default('') }}"
{% endif -%}

{#  ## hostname (string) #}
{% if PodSpec.hostname is defined %}
hostname: "{{ PodSpec.hostname | default('') }}"
{% endif -%}

{#   ## imagePullSecrets: (LocalObjectReference [array]) #}
{% if PodSpec.imagePullSecrets is defined %}
imagePullSecrets:
{%   for LocalObjectReference in PodSpec.imagePullSecrets | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_LocalObjectReference.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#   ## initContainers: (Container [array]) #}
{% if PodSpec.initContainers is defined %}
initContainers:
{%   for Container in PodSpec.initContainers | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_Container.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## nodeName (string) #}
{% if PodSpec.nodeName is defined %}
nodeName: "{{ PodSpec.nodeName | default('') }}"
{% endif -%}

{#   ## nodeSelector: (object) #}
{% if PodSpec.nodeSelector is defined %}
nodeSelector:
{%   for key, value in PodSpec.nodeSelector | default('') %}
  - "{{ key }}: {{ value }}
{%   endfor %}
{% endif -%}

{#   ## os: (PodOS) #}
{% if PodSpec.os is defined %}
os:
{%   filter indent(width=2, first=true) %}
{%     set PodOS = PodSpec.dnsConfig %}
{%     include '_PodOS.j2' %}
{%   endfilter %}
{% endif -%}

{#  ## overhead (object) #}
{#
{% if PodSpec.overhead is defined %}
overhead:
{%   for key, value in PodSpec.overhead | default('') %}
  - "{{ key }}: {{ value }}
{%   endfor %}
{% endif -%}
#}

{#  ## preemptionPolicy (string) #}
{% if PodSpec.preemptionPolicy is defined %}
preemptionPolicy: "{{ PodSpec.preemptionPolicy | default('') }}"
{% endif -%}

{#  ## priority (integer) #}
{% if PodSpec.priority is defined %}
priority: "{{ PodSpec.priority | default('') }}"
{% endif -%}

{#  ## priorityClassName (string) #}
{% if PodSpec.priorityClassName is defined %}
priorityClassName: "{{ PodSpec.priorityClassName | default('') }}"
{% endif -%}

{#   ## readinessGates: (PodReadinessGate [array]) #}
{% if PodSpec.readinessGates is defined %}
readinessGates:
{%   for PodReadinessGate in PodSpec.readinessGates | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_PodReadinessGate.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#   ## resourceClaims: (PodResourceClaim [array]) #}
{% if PodSpec.resourceClaims is defined %}
resourceClaims:
{%   for PodResourceClaim in PodSpec.resourceClaims | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_PodResourceClaim.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## restartPolicy (string) #}
{% if PodSpec.restartPolicy is defined %}
restartPolicy: "{{ PodSpec.restartPolicy | default('') }}"
{% endif -%}

{#  ## runtimeClassName (string) #}
{% if PodSpec.runtimeClassName is defined %}
runtimeClassName: "{{ PodSpec.runtimeClassName | default('') }}"
{% endif -%}

{#  ## schedulerName (string) #}
{% if PodSpec.schedulerName is defined %}
schedulerName: "{{ PodSpec.schedulerName | default('') }}"
{% endif -%}

{#   ## schedulingGates: (PodSchedulingGate [array]) #}
{% if PodSpec.schedulingGates is defined %}
schedulingGates:
{%   for PodSchedulingGate in PodSpec.schedulingGates | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_PodSchedulingGate.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#   ## securityContext: (PodSecurityContext) #}
{% if PodSpec.securityContext is defined %}
securityContext:
{%   filter indent(width=2, first=true) %}
{%     set PodSecurityContext = PodSpec.securityContext %}
{%     include '_PodSecurityContext.j2' %}
{%   endfilter %}
{% endif -%}

{#  ## serviceAccount (string) #}
{% if PodSpec.serviceAccount is defined %}
serviceAccount: "{{ PodSpec.serviceAccount | default('') }}"
{% endif -%}

{#  ## serviceAccountName (string) #}
{% if PodSpec.serviceAccountName is defined %}
serviceAccountName: "{{ PodSpec.serviceAccountName | default('') }}"
{% endif -%}

{#  ## setHostnameAsFQDN (boolean) #}
{% if PodSpec.setHostnameAsFQDN is defined %}
setHostnameAsFQDN: "{{ PodSpec.setHostnameAsFQDN | default('') }}"
{% endif -%}

{#  ## shareProcessNamespace (boolean) #}
{% if PodSpec.shareProcessNamespace is defined %}
shareProcessNamespace: "{{ PodSpec.shareProcessNamespace | default('') }}"
{% endif -%}

{#  ## subdomain (string) #}
{% if PodSpec.subdomain is defined %}
subdomain: "{{ PodSpec.subdomain | default('') }}"
{% endif -%}

{#  ## subterminationGracePeriodSecondsdomain (integer) #}
{% if PodSpec.terminationGracePeriodSeconds is defined %}
terminationGracePeriodSeconds: "{{ PodSpec.terminationGracePeriodSeconds | default('') }}"
{% endif -%}

{#   ## tolerations: (Toleration [array]) #}
{% if PodSpec.tolerations is defined %}
tolerations:
{%   for Toleration in PodSpec.tolerations | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_Toleration.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#   ## topologySpreadConstraints: (TopologySpreadConstraint [array]) #}
{% if PodSpec.topologySpreadConstraints is defined %}
topologySpreadConstraints:
{%   for TopologySpreadConstraint in PodSpec.topologySpreadConstraints | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_TopologySpreadConstraint.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#   ## volumes: (Volume [array]) #}
{% if PodSpec.volumes is defined %}
volumes:
{%   for Volume in PodSpec.volumes | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_Volume.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif %}