{% if PodSpec.activeDeadlineSeconds is defined %}
activeDeadlineSeconds: "{{ PodSpec.activeDeadlineSeconds | default('') }}"
{% endif -%}

{#   ## affinity: (Affinity) #}
{% if PodSpec.affinity is defined %}
affinity:
{%   filter indent(width=2, first=true) %}
{%     set Affinity = PodSpec.affinity %}
{%     include '_Affinity.j2' %}
{%   endfilter %}
{% endif -%}

{#   ## automountServiceAccountToken: (boolean) #}
{% if PodSpec.automountServiceAccountToken is defined %}
automountServiceAccountToken: "{{ PodSpec.automountServiceAccountToken | default('') }}"
{% endif -%}

{#   ## containers: (Container) #}
{% if PodSpec.containers is defined %}
containers:
{%   for container in PodSpec.containers | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_Container.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#   ## dnsConfig: (PodDNSConfig) #}
{% if PodSpec.dnsConfig is defined %}
dnsConfig:
{%   for PodDNSConfig in PodSpec.dnsConfig | default([], true) %}
{%     include '_Container.j2' %}
{%   endfor %}
{% endif -%}

{#   ## initContainers: (Container) #}
{% if PodSpec.initContainers is defined %}
initContainers:
{%   for container in PodSpec.initContainers | default([], true) %}
{%     include '_Container.j2' %}
{%   endfor %}
{% endif %}