{#  ## items: (KeyToPath [array]) #}
{% if SecretProjection.items is defined %}
items:
{%   for KeyToPath in SecretProjection.items | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_KeyToPath.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## name: (string) #}
{% if SecretProjection.name is defined %}
name: "{{ SecretProjection.name | default('') }}"
{% endif -%}

{#  ## optional: (boolean) #}
{% if SecretProjection.optional is defined %}
optional: {{ SecretProjection.optional | default('') }}
{% endif %}