{#  ## name (string) #}
{% if SecretEnvSource.name is defined %}
name: {{ SecretEnvSource.name | default('') }}
{% endif -%}

{#  ## optional (boolean) #}
{% if SecretEnvSource.optional is defined %}
optional: {{ SecretEnvSource.optional | default('') }}
{% endif %}