{#  ## key (string) #}
{% if SecretKeySelector.key is defined %}
key: "{{ SecretKeySelector.key | default('') }}"
{% endif -%}

{#  ## name (string) #}
{% if SecretKeySelector.name is defined %}
name: "{{ SecretKeySelector.name | default('') }}"
{% endif -%}

{#  ## optional (boolean) #}
{% if SecretKeySelector.optional is defined %}
optional: {{ SecretKeySelector.optional | default('') }}
{% endif %}