{#  ## defaultMode: (integer) #}
{% if SecretVolumeSource.defaultMode is defined %}
defaultMode: {{ SecretVolumeSource.defaultMode | default('') }}
{% endif -%}

{#  ## items: (KeyToPath [array]) #}
{% if SecretVolumeSource.items is defined %}
items:
{%   for KeyToPath in SecretVolumeSource.items | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_KeyToPath.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## optional: (boolean) #}
{% if SecretVolumeSource.optional is defined %}
optional: {{ SecretVolumeSource.optional | default('') }}
{% endif -%}

{#  ## secretName: (string) #}
{% if SecretVolumeSource.secretName is defined %}
secretName: "{{ SecretVolumeSource.secretName | default('') }}"
{% endif %}