{#  ## audience: (string) #}
{% if ServiceAccountTokenProjection.audience is defined %}
audience: "{{ ServiceAccountTokenProjection.audience | default('') }}"
{% endif -%}

{#  ## expirationSeconds: (integer) #}
{% if ServiceAccountTokenProjection.expirationSeconds is defined %}
expirationSeconds: {{ ServiceAccountTokenProjection.expirationSeconds | default('') }}
{% endif -%}

{#  ## path: (string) #}
{% if ServiceAccountTokenProjection.path is defined %}
path: "{{ ServiceAccountTokenProjection.path | default('') }}"
{% endif %}