{#  ## fsType: (string) #}
{% if StorageOSVolumeSource.fsType is defined %}
fsType: "{{ StorageOSVolumeSource.fsType | default('') }}"
{% endif -%}

{#  ## readOnly: (boolean) #}
{% if StorageOSVolumeSource.readOnly is defined %}
readOnly: {{ StorageOSVolumeSource.readOnly | default('') }}
{% endif -%}

{#  ## readOnly: (boolean) #}
{% if StorageOSVolumeSource.readOnly is defined %}
readOnly: {{ StorageOSVolumeSource.readOnly | default('') }}
{% endif -%}

{#  ## secretRef: (LocalObjectReference) #}
{% if StorageOSVolumeSource.secretRef is defined %}
secretRef:
{%   for LocalObjectReference in StorageOSVolumeSource.secretRef | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_LocalObjectReference.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## volumeName: (string) #}
{% if StorageOSVolumeSource.volumeName is defined %}
volumeName: "{{ StorageOSVolumeSource.volumeName | default('') }}"
{% endif -%}

{#  ## volumeNamespace: (string) #}
{% if StorageOSVolumeSource.volumeNamespace is defined %}
volumeNamespace: "{{ StorageOSVolumeSource.volumeNamespace | default('') }}"
{% endif %}