{#  ## awsElasticBlockStore: (AWSElasticBlockStoreVolumeSource) #}
{% if Volume.awsElasticBlockStore is defined %}
awsElasticBlockStore:
{%   for AWSElasticBlockStoreVolumeSource in Volume.awsElasticBlockStore | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_AWSElasticBlockStoreVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## azureDisk: (AzureDiskVolumeSource) #}
{% if Volume.azureDisk is defined %}
azureDisk:
{%   for AzureDiskVolumeSource in Volume.azureDisk | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_AzureDiskVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## azureFile: (AzureFileVolumeSource) #}
{% if Volume.azureFile is defined %}
azureFile:
{%   for AzureFileVolumeSource in Volume.azureFile | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_AzureFileVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## cephfs: (CephFSVolumeSource) #}
{% if Volume.cephfs is defined %}
cephfs:
{%   for CephFSVolumeSource in Volume.cephfs | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_CephFSVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## cinder: (CinderVolumeSource) #}
{% if Volume.cinder is defined %}
cinder:
{%   for CinderVolumeSource in Volume.cinder | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_CinderVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## configMap: (ConfigMapVolumeSource) #}
{% if Volume.configMap is defined %}
configMap:
{%   for ConfigMapVolumeSource in Volume.configMap | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_ConfigMapVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## csi: (CSIVolumeSource) #}
{% if Volume.csi is defined %}
csi:
{%   for CSIVolumeSource in Volume.csi | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_CSIVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## downwardAPI: (DownwardAPIVolumeSource) #}
{% if Volume.downwardAPI is defined %}
downwardAPI:
{%   for DownwardAPIVolumeSource in Volume.downwardAPI | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_DownwardAPIVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## emptyDir: (EmptyDirVolumeSource) #}
{% if Volume.emptyDir is defined %}
emptyDir:
{%   for EmptyDirVolumeSource in Volume.emptyDir | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_EmptyDirVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## ephemeral: (EphemeralVolumeSource) #}
{% if Volume.ephemeral is defined %}
ephemeral:
{%   for EphemeralVolumeSource in Volume.ephemeral | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_EphemeralVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## fc: (FCVolumeSource) #}
{% if Volume.fc is defined %}
fc:
{%   for FCVolumeSource in Volume.fc | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_FCVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## flexVolume: (FlexVolumeSource) #}
{% if Volume.flexVolume is defined %}
flexVolume:
{%   for FlexVolumeSource in Volume.flexVolume | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_FlexVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## flocker: (FlockerVolumeSource) #}
{% if Volume.flocker is defined %}
flocker:
{%   for FlockerVolumeSource in Volume.flocker | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_FlockerVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## gcePersistentDisk: (GCEPersistentDiskVolumeSource) #}
{% if Volume.gcePersistentDisk is defined %}
gcePersistentDisk:
{%   for GCEPersistentDiskVolumeSource in Volume.gcePersistentDisk | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_GCEPersistentDiskVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## gitRepo: (GitRepoVolumeSource) #}
{% if Volume.gitRepo is defined %}
gitRepo:
{%   for GitRepoVolumeSource in Volume.gitRepo | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_GitRepoVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## glusterfs: (GlusterfsVolumeSource) #}
{% if Volume.glusterfs is defined %}
glusterfs:
{%   for GlusterfsVolumeSource in Volume.glusterfs | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_GlusterfsVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## hostPath: (HostPathVolumeSource) #}
{% if Volume.hostPath is defined %}
hostPath:
{%   for HostPathVolumeSource in Volume.hostPath | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_HostPathVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## iscsi: (ISCSIVolumeSource) #}
{% if Volume.iscsi is defined %}
iscsi:
{%   for ISCSIVolumeSource in Volume.iscsi | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_ISCSIVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## name: (string) #}
{% if Volume.name is defined %}
name: "{{ Volume.name | default('') }}"
{% endif -%}

{#  ## nfs: (NFSVolumeSource) #}
{% if Volume.nfs is defined %}
nfs:
{%   for NFSVolumeSource in Volume.nfs | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_NFSVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## persistentVolumeClaim: (PersistentVolumeClaimVolumeSource) #}
{% if Volume.persistentVolumeClaim is defined %}
persistentVolumeClaim:
{%   for PersistentVolumeClaimVolumeSource in Volume.persistentVolumeClaim | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_PersistentVolumeClaimVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## photonPersistentDisk: (PhotonPersistentDiskVolumeSource) #}
{% if Volume.photonPersistentDisk is defined %}
photonPersistentDisk:
{%   for PhotonPersistentDiskVolumeSource in Volume.photonPersistentDisk | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_PhotonPersistentDiskVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## portworxVolume: (PortworxVolumeSource) #}
{% if Volume.portworxVolume is defined %}
portworxVolume:
{%   for PortworxVolumeSource in Volume.portworxVolume | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_PortworxVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## projected: (ProjectedVolumeSource) #}
{% if Volume.projected is defined %}
projected:
{%   for ProjectedVolumeSource in Volume.projected | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_ProjectedVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## quobyte: (QuobyteVolumeSource) #}
{% if Volume.quobyte is defined %}
quobyte:
{%   for QuobyteVolumeSource in Volume.quobyte | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_QuobyteVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## rbd: (RBDVolumeSource) #}
{% if Volume.rbd is defined %}
rbd:
{%   for RBDVolumeSource in Volume.rbd | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_RBDVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## scaleIO: (ScaleIOVolumeSource) #}
{% if Volume.scaleIO is defined %}
scaleIO:
{%   for ScaleIOVolumeSource in Volume.scaleIO | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_ScaleIOVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## secret: (SecretVolumeSource) #}
{% if Volume.secret is defined %}
secret:
{%   for SecretVolumeSource in Volume.secret | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_SecretVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## storageos: (StorageOSVolumeSource) #}
{% if Volume.storageos is defined %}
storageos:
{%   for StorageOSVolumeSource in Volume.storageos | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_StorageOSVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif -%}

{#  ## vsphereVolume: (VsphereVirtualDiskVolumeSource) #}
{% if Volume.vsphereVolume is defined %}
vsphereVolume:
{%   for VsphereVirtualDiskVolumeSource in Volume.vsphereVolume | default([], true) %}
{%     filter indent(width=4, first=false) %}
  - {%   include '_VsphereVirtualDiskVolumeSource.j2' %}
{%     endfilter %}
{%   endfor %}
{% endif %}