---
#
# Job v1 batch  (WORKLOADS APIS)
#
# API Group: WORKLOADS APIS
# Group: batch
# Version: v1
# Kind: Job

apiVersion: v1
kind: Job

{# ## metadata: (ObjectMeta) #}
{% if resource.metadata is defined %}
metadata:
{%   filter indent(width=2, first=true) %}
{%     set ObjectMeta = resource.metadata %}
{%     include '_ObjectMeta.j2' %}
{%   endfilter %}
{% endif -%}

{# ## Spec: (DeploymentSpec) #}
{% if resource.spec is defined %}
spec:
{%   filter indent(width=2, first=true) %}
{%     set JobSpec = resource.spec %}
{%     include '_JobSpec.j2' %}
{%   endfilter %}
{% endif -%}

{# ## status: (DeploymentStatus) #}
{% if resource.status is defined %}
status:
{%   filter indent(width=2, first=true) %}
{%     set JobStatus = resource.status %}
{%     include '_JobStatus.j2' %}
{%   endfilter %}
{% endif %}

...
