apiVersion: {{ k8s_common_kubeconfig.api_version | default("v1")}}
kind: Config
preferences: {}

clusters:
{% for cluster in k8s_common_kubeconfig.clusters %}- cluster:
    server: {{ cluster.server }}
    certificate-authority-data: {{ cluster.certificate_authority_data }}
  name: {{ cluster.name }}{% endfor %}

users:
{% for user in k8s_common_kubeconfig.users %}- name: {{ user.name }}
  user:
    client-certificate-data: {{ user.client_certificate_data }}
    client-key-data: {{ user.client_key_data }}{% endfor %}

contexts:
{% for context in k8s_common_kubeconfig.contexts %}- context:
    user: {{ context.user }}
    cluster: {{ context.cluster }}
  name: {{ context.user }}@{{ context.cluster }}{% endfor %}

current-context: {{ k8s_common_kubeconfig.current_context }}
