apiVersion: v1
kind: PersistentVolume
Namespace: "{{ kind.namespace }}"
metadata:
  name: "{{ kind.metadata.name | default('') }}"
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: "{{ kind.spec.capacity.storage }}"
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: ""{{ kind.spec.hostPath.path }}""
