apiVersion: v1
kind: PersistentVolume
metadata:
  name: "{{ resource.metadata.name | default('') }}"
  namespace: "{{ resource.metadata.namespace | default('') }}"
  labels:
    type: local
spec:
  storageClassName: manual
  capacity:
    storage: "{{ resource.spec.capacity.storage | default('') }}"
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: ""{{ resource.spec.hostPath.path | default('') }}""
