apiVersion: v1
kind: PersistentVolumeClaim
Namespace: "{{ kind.namespace }}"
metadata:
  name: "{{ kind.metadata.name | default('') }}"
  labels:
    type: local
spec:
  storageClassName: csi-cinder-classic
  accessModes:
    - ReadOnlyMany
  resources:
    requests:
      storage:  "{{ kind.spec.resources.requests.storage }}"