apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ resource.metadata.name | default('') }}"
  namespace: "{{ resource.metadata.namespace | default('') }}"
  labels:
    type: local
spec:
  storageClassName: csi-cinder-classic
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage:  "{{ resource.spec.resources.requests.storage | default('') }}"