---
#
# Pod v1 core  (WORKLOADS APIS)
#
# API Group: WORKLOADS APIS
# Group: core
# Version: v1
# Kind: Pod

#
#   Warning: It is recommended that users create Pods only through a Controller, and not directly.
#            See Controllers: Deployment, Job, or StatefulSet.
#

apiVersion: "{{ resource.apiVersion | default(omit) }}"
kind: Pod
{# ## metadata: (ObjectMeta) #}
{% if resource.metadata is defined %}
metadata:
{% filter indent(width=2, first=true) %}
{% include '_ObjectMeta.j2' %}
{% endfilter %}
{% endif -%}

{# ## Spec: (PodSpec) #}
{% if resource.spec is defined %}
spec:
{% filter indent(width=2, first=true) %}
{% set PodSpec = resource.spec %}
{% include '_PodSpec.j2' %}
{% endfilter %}
{% endif -%}

{# ## status: (PodStatus) #}
{% if resource.status is defined %}
status:
{% filter indent(width=2, first=true) %}
{% set PodStatus = resource.status %}
{% include '_PodStatus.j2' %}
{% endfilter %}
{% endif %}

...
