---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ registry.name }}"
  namespace: "{{ registry.namespace | default(omit) }}"
data:
  .dockerconfigjson: "{{ dockerconfigjson_b64 }}"
type: kubernetes.io/dockerconfigjson